#sidebody {
    border-right: 1px solid rgba(0, 0, 0, 0.15);
    height: 100vh;
    margin: 0pt;
    padding: 0pt;
    overflow-y: auto;
  }

hr {
  margin-top: 16pt;
  margin-bottom: 0pt;
  width: 100%;
  height: 1px;
}

h2 {
font-size: 17pt;
}

h2.emp {
  color: rgba(0, 0, 0, 0.3);
}

h2.tr{
  text-align: right;
  padding-right: 16pt;
}

.p1 {
font-size: 14pt;
}

.p1.emp {
color: rgba(0, 0, 0, 0.15);
}

.SectionHeader {
  padding: 0pt;
  margin-top: 32pt;
  margin-left: 16pt;
  margin-right: 16pt;
  margin-bottom: 8pt;
}

.LoadingCell {
  padding: 16pt;
  text-align: center;
}

.LoadingIndicator {
  margin-right: 8pt;
  margin-bottom: 3pt;
}

.PersonCell {
  padding: 16pt 16pt 0pt;
  margin: 0pt 0pt 0pt 16pt ;
}

.PersonCell p {
  padding: 0pt;
  margin: 0pt;
}

.PersonCell h2 {
  padding: 0pt;
  margin: 0pt;
}

.DataCell h2{
  line-height: 16pt;
  height: 16pt;
  padding: 0pt;
  padding-right: 16pt;
  margin-top: 16pt;
  margin-bottom: 16pt;
  align-content: center;
  vertical-align: center;
}
